OPENVPN_PORT=1194
OPENVPN_DIR=./openvpn
OPENVPN_CONFIG=./openvpn/config
OPENVPN_LOGS=./openvpn/logs
OPENVPN_CLIENTS=./openvpn/clients

PROMETHEUS_DIR=./prometheus

GRAFANA_DIR=./grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
